nav {
	display: flex;
	justify-content: flex-start;
	background-color: coral;
}

.toggle-dropdown-menu {
	display: none;
}

.arrow {
	/* width: 7px; */
	/* height: 7px; */
	/* display: inline-block;
	border-bottom: 3px solid black;
	border-right: 3px solid black;
	transform: rotate(45deg); */
	
	display: inline-block;
	border: solid black;
	border-width: 0 2px 2px 0;
	padding: 3px;
	transform: rotate(135deg);
	margin-left: 5px;
}

.rotate-dropdown-arrow {
	display: inline-block;
	border: solid black;
	border-width: 0 2px 2px 0;
	padding: 3px;
	transform: rotate(135deg);
	margin-left: 5px;
	transform: rotate(45deg);
}